.slider-wrapper {
  position: relative;
  height: 70vh;
  overflow: hidden;
  margin-bottom: -225px;
  width: 100%;
  /* mask-image: linear-gradient(to top, transparent -10%, black); */

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.slide {
  height: 70vh;
  background-size: cover !important;
}

.previousButton {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNjcgMGwyLjgzIDIuODI5LTkuMzM5IDkuMTc1IDkuMzM5IDkuMTY3LTIuODMgMi44MjktMTIuMTctMTEuOTk2eiIvPjwvc3ZnPg==")
    no-repeat center center / 25px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}
.nextButton {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  z-index: 10;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNSAzbDMuMDU3LTMgMTEuOTQzIDEyLTExLjk0MyAxMi0zLjA1Ny0zIDktOXoiLz48L3N2Zz4=")
    no-repeat center center / 25px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.nextButton {
  right: 0;
}

@media (max-height: 500px) {
  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}
